.asset_container[data-type="video"] {
    @import '../AssetContainerStyles.scss';
    @include asset-container-styles;

    position: relative;
    align-items: center;

    --radius: 8px;
    -webkit-mask-box-image: url('data:image/svg+xml;utf8,<svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 25.6C0 16.6392 0 12.1587 1.7439 8.73615C3.27787 5.72556 5.72556 3.27787 8.73615 1.7439C12.1587 0 16.6392 0 25.6 0H74.4C83.3608 0 87.8413 0 91.2638 1.7439C94.2744 3.27787 96.7221 5.72556 98.2561 8.73615C100 12.1587 100 16.6392 100 25.6V74.4C100 83.3608 100 87.8413 98.2561 91.2638C96.7221 94.2744 94.2744 96.7221 91.2638 98.2561C87.8413 100 83.3608 100 74.4 100H25.6C16.6392 100 12.1587 100 8.73615 98.2561C5.72556 96.7221 3.27787 94.2744 1.7439 91.2638C0 87.8413 0 83.3608 0 74.4V25.6Z" fill="black"/></svg>') 16/var(--radius)/0px;

    @media (max-width: 850px) {
        --radius: 0px;
    }

    @media (min-width: 851px) {
        &[data-orientation="landscape"][data-video-is-taller-than-container="false"] {
            width: 100%;
            height: auto;
            margin: auto;

            .asset {
                width: 100%;
                height: auto;
            }
        }
    }

    &:last-of-type {
        min-width: auto;
        width: fit-content;

        @media (max-width: 850px) {
            width: 100%;
            height: 100%;
        }
    }

    .asset {
        height: 100%;
        width: auto;
        background-color: rgba(136, 138, 144, 0.2);

        // Weird hack to remove weird border.
        -webkit-mask-image: -webkit-radial-gradient(white, black);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;

        @at-root [data-orientation="square"]#{&} {
            @media (max-width: 850px) {
                width: 100%;
                height: auto;
                margin: auto;
            }
        }

        @at-root [data-orientation="landscape"]#{&} {
            @media (max-width: 850px) {
                height: auto;
                margin: auto;
            }
        }

        @media (max-width: 850px) {
            width: 100%;
            object-fit: cover;
        }
    }

    .unmute_button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: all;
        display: flex;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        z-index: 2;

        .unmute_button_affordance {
            margin: auto;
            border: 1px solid rgba(255, 255, 255, 0.1);
            background: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(40px);
            color: rgba(255, 255, 255, 1);
            width: 60px;
            height: 60px;
            border-radius: 40px;
            display: flex;
            // box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.2);
            transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition-delay: 0s;

            &[data-visible="false"] {
                opacity: 0;
                transition-delay: 0.6s;
            }

            svg {
                margin: auto;
            }
        }
    }

    .fullscreen_button_container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;

        @media (max-width: 850px) {
            right: initial;
            bottom: initial;
            height: 100vh;
            height: 100dvh;
        }

        .fake_video_container {
            margin: auto;
            width: 100%;
            height: auto;
            overflow: visible;
            pointer-events: none;
            z-index: 3;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            @media (max-width: 850px) {
                position: relative;
                top: initial;
                right: initial;
                bottom: initial;
                left: initial;
                height: var(--computed-video-height);
            }

            .fullscreen_button {
                border: 1px solid rgba(255, 255, 255, 0.1);
                background: rgba(0, 0, 0, 0.6);
                backdrop-filter: blur(40px);
                color: rgba(255, 255, 255, 1);
                border-radius: 40px;
                font-size: 12px;
                font-weight: 500;
                display: flex;
                align-items: center;
                padding: 8px;
                line-height: 0;
                pointer-events: all;
                position: absolute;
                cursor: pointer;
                right: 16px;
                bottom: 16px;

                svg {
                    --size: 24px;
                    width: var(--size);
                    height: var(--size);
                }

                p {
                    display: none;
                }

                @media (max-width: 850px) {
                    right: initial;
                    left: 50%;
                    bottom: 0;
                    transform: translate(-50%, calc(var(--computed-full-screen-button-height) + 16px));
                    background: rgba(255, 255, 255, 0.1);
                    padding: 8px 10px;

                    svg {
                        --size: 14px;
                    }

                    p {
                        display: block;
                        margin: 0 0 0 6px;
                    }
                }
            }
        }
    }
}