.asset_container[data-type="video"] {
    @import '../AssetContainerStyles.scss';
    @include asset-container-styles;

    position: relative;
    align-items: center;

    &:last-of-type {
        min-width: auto;
        width: fit-content;

        @media (max-width: 850px) {
            width: 100%;
            height: 100%;
        }
    }

    // This is horribly hardcoded
    @media (min-height: 1480px) {
        &[data-orientation="landscape"] {
            width: 100%;
            height: auto;
            margin: auto;

            .asset {
                width: 100%;
                height: auto;
            }
        }
    }

    .asset {
        height: 100%;
        width: auto;
        background-color: rgba(136, 138, 144, 0.2);

        // Weird hack to remove weird border.
        -webkit-mask-image: -webkit-radial-gradient(white, black);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;

        @at-root [data-orientation="square"]#{&} {
            @media (max-width: 850px) {
                width: 100%;
                height: auto;
                margin: auto;
            }
        }

        @at-root [data-orientation="landscape"]#{&} {
            @media (max-width: 850px) {
                height: auto;
                margin: auto;
            }
        }

        @media (max-width: 850px) {
            width: 100%;
            object-fit: cover;
        }
    }

    .unmute_button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: all;
        display: flex;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        z-index: 2;

        .unmute_button_affordance {
            margin: auto;
            border: 1px solid rgba(255, 255, 255, 0.1);
            background: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(40px);
            color: rgba(255, 255, 255, 1);
            width: 60px;
            height: 60px;
            border-radius: 40px;
            display: flex;
            // box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.2);
            transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition-delay: 0s;

            &[data-visible="false"] {
                opacity: 0;
                transition-delay: 0.6s;
            }

            svg {
                margin: auto;
            }
        }
    }

    .fullscreen_button_container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;

        @media (max-width: 850px) {
            right: initial;
            bottom: initial;
            height: 100vh;
            height: 100dvh;
        }

        .fake_video_container {
            margin: auto;
            width: 100%;
            height: auto;
            overflow: visible;
            pointer-events: none;
            z-index: 3;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            @media (max-width: 850px) {
                position: relative;
                top: initial;
                right: initial;
                bottom: initial;
                left: initial;
                height: var(--computed-video-height);
            }

            .fullscreen_button {
                border: 1px solid rgba(255, 255, 255, 0.1);
                background: rgba(0, 0, 0, 0.6);
                backdrop-filter: blur(40px);
                color: rgba(255, 255, 255, 1);
                border-radius: 40px;
                font-size: 12px;
                font-weight: 500;
                display: flex;
                align-items: center;
                padding: 8px;
                line-height: 0;
                pointer-events: all;
                position: absolute;
                cursor: pointer;
                right: 16px;
                bottom: 16px;

                svg {
                    --size: 24px;
                    width: var(--size);
                    height: var(--size);
                }

                p {
                    display: none;
                }

                @media (max-width: 850px) {
                    right: initial;
                    left: 50%;
                    bottom: 0;
                    transform: translate(-50%, calc(var(--computed-full-screen-button-height) + 16px));
                    background: rgba(255, 255, 255, 0.1);
                    padding: 8px 10px;

                    svg {
                        --size: 14px;
                    }

                    p {
                        display: block;
                        margin: 0 0 0 6px;
                    }
                }
            }
        }
    }
}