.next_project_peek {
    margin: 40px auto 0;
    padding: 0 40px;
    max-width: 1600px;
    position: relative;
    transition: opacity 0.3s ease;
    z-index: 99;

    --additional-peek-hover-margin: 20px;
    --project-info-header-computed-height: 300px;

    &:active {
        opacity: 0.4;
    }

    hr {
        width: 100%;
        height: 1px;
        background: rgba(231, 232, 233, 1);
        border: none;
        outline: none;
        margin: 0;
    }

    @media (hover: hover) {
        &:hover {
            .project_article_header_container {
                .project_article_header {
                    transform: translateY(0px);
                }
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: calc(((var(--viewport-distance) * 2) * -1));
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, 1);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.4s cubic-bezier(.25, .46, .45, .94) 0s;
    }

    &[data-transitioning="true"] {
        .project_article_header_container {
            overflow: visible;

            .project_article_header {
                transition: transform 1s cubic-bezier(0.28, 0.11, 0.32, 1) 0.2s;
                transform: translateY(calc((var(--viewport-distance) * -1) + var(--header-distance)));
            }
        }

        &::before {
            opacity: 1;
            pointer-events: auto;
        }
    }

    @media (max-width: 850px) {
        padding: 0 20px 0;
    }

    .project_article_header_container {
        --margin-top: 70px;

        @media (max-width: 850px) {
            --margin-top: 50px;
        }

        margin-top: calc(var(--margin-top) - var(--additional-peek-hover-margin));
        height: calc(var(--project-info-header-computed-height) + var(--additional-peek-hover-margin));
        overflow: hidden;

        .project_article_header {
            will-change: transform;
            transition: transform .3s cubic-bezier(.25, .46, .45, .94) 0s;
            transform: translateY(var(--additional-peek-hover-margin));
        }
    }

    .project_access {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}