body.snapping_feed {
    @media (max-width: 850px) {
        background: #000;

        #nprogress .bar {
            background: #FFF;
        }
    }
}

.snapping_feed_container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @media (max-width: 850px) {
        background: #000;
        overflow-x: hidden;

        // iOS Mobile Devices
        @supports (-webkit-touch-callout: none) {

            /*
                Completely unnecessary and based on lots of
                assumptions (assumptions: this media query will always
                work, most iOS people use the Safari address bar
                at the bottom, etc) but looks hella cute so why not. 
            */

            border-radius: 12px 12px 0 0;
        }
    }

    .snapping_feed {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: 100%;
        scroll-snap-type: y mandatory;
        overflow: scroll;
        justify-items: center;
        width: 100%;
        height: 100%;
        position: relative;

        @media (max-width: 850px) {
            background: #000;
            margin-right: -20px;
            padding-right: 20px;
            box-sizing: content-box;
        }
    }
}