@mixin animationDelays {
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.5}s;
    }
  }
}

@mixin paragraphAnimationDelays {
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-delay: #{2.2 + ($i * 0.1)}s;
    }
  }
}

.about-page {
  padding: calc(var(--global-padding) * 2);
  @media (max-width: 850px) {
    padding: calc(var(--global-padding) * 2) var(--global-padding);
  }
  a {
    font-size: 1em;
    text-decoration: underline;
    color: rgba(16, 99, 238, 1);
    transition: color 0.4s cubic-bezier(0.2, 0.9, 0.42, 1);
    @media (hover: hover) {
      &:hover {
        color: rgba(0, 0, 0, 1);
      }
    }
  }
  .hearts-animation {
    font-size: 28px;
    display: grid;
    grid-template-columns: repeat(6, 0.5em);
    grid-template-rows: repeat(7, 0.5em);
    width: fit-content;
    margin: 0 auto;
    user-select: none;
    .heart {
      font-size: 1em;
      line-height: 1em;
      animation: hearts 3s ease infinite;
      @include animationDelays;
      animation-fill-mode: both;
      user-select: none;
      &:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1/3;
      }
      &:nth-child(2) {
        grid-column: 5/7;
        grid-row: 4/6;
      }
      &:nth-child(3) {
        grid-column: 2/4;
        grid-row: 6/8;
      }
    }
  }
  .big-statement {
    font-size: 36px;
    line-height: 1.2;
    max-width: 750px;
    text-align: center;
    margin: 40px auto 0 auto;
    animation: fadeIn 1s cubic-bezier(0.28, 0.11, 0.32, 1) 1.6s;
    animation-fill-mode: backwards;
    @media (max-width: 850px) {
      font-size: 32px;
      max-width: 95%;
    }
  }
  .big-statement-subtitle {
    font-size: 18px;
    color: rgba(136, 139, 144, 1);
    margin: 20px auto 0 auto;
    text-align: center;
    animation: fadeIn 1s cubic-bezier(0.28, 0.11, 0.32, 1) 1.8s;
    animation-fill-mode: backwards;
  }
  .about-me-paragraphs {
    max-width: 520px;
    margin: 60px auto 0 auto;
    line-height: 1.4;
    p {
      font-size: 18px;
      text-indent: 36px;
      margin: 1em 0 0 0;
      padding: 0;
      animation: fadeIn 1s cubic-bezier(0.28, 0.11, 0.32, 1);
      animation-fill-mode: backwards;
      @include paragraphAnimationDelays;
      @media (max-width: 850px) {
        text-indent: 16px;
      }
    }
  }
}

@keyframes hearts {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(20px);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1) translateY(-20px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
