.projects_grid {
    --artwork-full-width: 2520px;
    --artwork-max-retina-width: calc(var(--artwork-full-width) / 2);

    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-gap: 20px;

    &[data-featured="true"] {
        grid-template-columns: repeat(2, 1fr);
    }

    &:not(:first-child) {
        margin-top: 20px;
    }

    @media (max-width: 1080px) {
        &[data-featured="true"] {
            grid-template-columns: repeat(1, 1fr);
        }

        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 850px) {
        &[data-featured="true"] {
            grid-template-columns: repeat(1, 1fr);
        }

        grid-template-columns: repeat(1, 1fr);
        padding: 0 10px 20px;
    }

    .project-thumbnail {
        margin-bottom: 10px;
    }
}