.projects_grid {
    --artwork-full-width: 2520px;
    --artwork-max-retina-width: calc(var(--artwork-full-width) / 2);

    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

    &:not(:first-of-type) {
        padding-top: 0px;
    }

    @media (max-width: 850px) {
        &[data-featured="true"] {
            overflow: hidden;
        }
    }

    .dummy_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-auto-flow: dense;
        grid-gap: 28px 20px;
        padding: 20px;

        @at-root [data-featured="true"]#{&} {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 1080px) {
            @at-root [data-featured="true"]#{&} {
                grid-template-columns: repeat(1, 1fr);
            }

            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 850px) {
            grid-template-columns: repeat(1, 1fr);
            padding: 10px;

            @at-root [data-featured="true"]#{&} {
                grid-auto-flow: column;
                grid-template-columns: unset;
                grid-auto-columns: 94%;
                grid-gap: 10px;
                overflow: auto;
                padding-bottom: 38px;
                margin-bottom: -20px;
                scroll-snap-type: x mandatory;

                .project_thumbnail {
                    scroll-snap-align: center;
                    scroll-snap-stop: always;
                }
            }

            &:not(:first-of-type) {
                padding-top: 0px;
            }
        }
    }
}