@mixin paragraphAnimationDelays {
    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            animation-delay: #{($i * 0.1)}s;
        }
    }
}

.big_statement {
    font-size: 15px;
    font-weight: 460;
    line-height: 1.4;
    color: rgb(136, 139, 144);
    padding: 80px 20px;
    width: fit-content;
    text-align: left;
    display: block;
    max-width: 480px;
    margin: 0 auto;

    &[data-centered="true"] {
        text-align: center;
    }

    @media (max-width: 850px) {
        padding: 80px 20px;
    }

    a {
        transition: color 0.4s cubic-bezier(0.2, 0.9, 0.42, 1);
        color: rgba(0, 0, 0, 1);
        font-weight: 560;

        @media (hover: hover) {
            &:hover {
                color: rgba(136, 139, 144, 1);
            }
        }
    }

    p {
        margin: 0;
        animation: fadeIn 1s cubic-bezier(0.28, 0.11, 0.32, 1);
        animation-fill-mode: backwards;
        @include paragraphAnimationDelays;

        &:not(:first-of-type) {
            margin-top: 1rem;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}