.projects-grid {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--global-padding);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: var(--global-padding);
  &:not(:first-of-type) {
    margin-top: var(--global-padding);
  }
  &.featured {
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
  }
  article {
    .project-artwork {
      margin: 0;
      padding: 0;
      img {
        width: 100%;
      }
    }
    .project-info {
      display: none;
    }
  }
}