.projects-grid {
  --artwork-full-width: 2520px;
  --artwork-max-retina-width: calc(var(--artwork-full-width) / 2);

  width: 100%;
  max-width: calc(
    calc(var(--artwork-max-retina-width) * 2) + calc(var(--global-padding) * 3)
  );
  margin: 0 auto;
  padding: 0 var(--global-padding);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-flow: dense;
  grid-gap: var(--global-padding);
  &:not(:first-of-type) {
    margin-top: var(--global-padding);
  }
  &.featured {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 2000px) {
    &.featured {
      grid-template-columns: repeat(2, 1fr);
    }
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1080px) {
    &.featured {
      grid-template-columns: repeat(1, 1fr);
    }
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 800px) {
    &.featured {
      grid-template-columns: repeat(1, 1fr);
    }
    grid-template-columns: repeat(1, 1fr);
    padding: calc(var(--global-padding) / 2);
  }
  .project-thumbnail {
    margin-bottom: calc(var(--global-padding) / 2);
  }
}
