@mixin projectThumbnailFadeInDelays {
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.07}s;
    }
  }
}

.projects-grid {
  --artwork-full-width: 2520px;
  --artwork-max-retina-width: calc(var(--artwork-full-width) / 2);

  width: 100%;
  max-width: calc(
    calc(var(--artwork-max-retina-width) * 2) + calc(var(--global-padding) * 3)
  );
  margin: 0 auto;
  padding: 0 var(--global-padding);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  grid-gap: var(--global-padding);
  &:not(:first-of-type) {
    margin-top: var(--global-padding);
  }
  &[data-featured="true"] {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 2000px) {
    &[data-featured="true"] {
      grid-template-columns: repeat(2, 1fr);
    }
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1080px) {
    &[data-featured="true"] {
      grid-template-columns: repeat(1, 1fr);
    }
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 800px) {
    &[data-featured="true"] {
      grid-template-columns: repeat(1, 1fr);
    }
    grid-template-columns: repeat(1, 1fr);
    padding: calc(var(--global-padding) / 2);
  }
  .project-thumbnail {
    margin-bottom: calc(var(--global-padding) / 2);
    animation: fadeIn 0.4s cubic-bezier(0.28, 0.11, 0.32, 1);
    animation-fill-mode: backwards;
    @include projectThumbnailFadeInDelays;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}