.button {
    display: block;
    width: fit-content;
    border: none;
    outline: none;
    padding: 10px 16px;
    border-radius: 100px;
    font-size: 17px;
    font-weight: 560;

    &[data-type="primary"] {
        background: rgba(0, 0, 0, 1);
        color: rgba(255, 255, 255, 1);
    }

    &[data-type="secondary"] {
        background: rgba(136, 139, 144, 0.15);
        color: rgba(0, 0, 0, 1);
    }
}