.sopaipilla-menu {
  display: none;
  width: 38px;
  height: 38px;
  position: absolute;
  left: 0;
  @media (max-width: 800px) {
    display: block;
  }
  .sopaipilla {
    --sopaipilla-size: 38px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    width: var(--sopaipilla-size);
    height: var(--sopaipilla-size);
    transform: none;
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &.top,
    &.bottom {
      .inner-sopaipilla {
        display: block;
        width: calc(var(--sopaipilla-size) / 2);
        height: 2px;
        background: #000;
        border-radius: 2px;
        position: absolute;
        left: calc(var(--sopaipilla-size) / 4);
        z-index: 1;
        transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
      }
    }
    &.top {
      @at-root [data-open="true"]#{&} {
        transform: rotate(45deg);
        transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
      }
      .inner-sopaipilla {
        top: calc((var(--sopaipilla-size) / 2) - 1px);
        transform: translateY(calc((var(--sopaipilla-size) * 0.1) * -1));
        @at-root [data-open="true"]#{&} {
          transform: translateY(0);
          transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
      }
    }
    &.bottom {
      @at-root [data-open="true"]#{&} {
        transform: rotate(-45deg);
        transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
      }
      .inner-sopaipilla {
        bottom: calc((var(--sopaipilla-size) / 2) - 1px);
        transform: translateY(calc(var(--sopaipilla-size) * 0.1));
        @at-root [data-open="true"]#{&} {
          transform: translateY(0);
          transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
      }
    }
  }
}
