@mixin asset-container-styles {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    margin: 0 0 0 20px; // ⚠️ If this value changes, you'll also have to change the value in the `handleScroll` function.
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;
    display: flex;
    align-items: flex-end;

    @media (max-width: 850px) {
        min-width: 100%;
        height: fit-content;
        font-size: 0;
        margin: auto 0 auto 20px; // ⚠️ If this value changes, you'll also have to change the value in the `handleScroll` function.

        &[data-type="video"] {
            height: 100%;
        }
    }

    &:first-of-type {
        margin-left: 0;
    }

    &:last-of-type {
        min-width: 100%;
    }
}