.page_indicator {
    display: grid;
    grid-auto-flow: column;
    width: min-content;
    margin: -10px auto 10px -10px;
    border-radius: 100px;
    background-color: rgba(136, 138, 144, 0);
    will-change: transform;
    transition: background-color 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    @media (hover: hover) and (min-width: 850px) {
        &:hover {
            background-color: rgba(136, 138, 144, 0.2);
            transform: scale(1.1);

            .page_dot[data-current="true"]:not(:hover) {
                &::after {
                    background-color: rgba(136, 138, 144, 0.6);
                }
            }
        }
    }

    @media (max-width: 850px) {
        margin: 0 auto 10px auto;
    }

    .page_dot {
        border: none;
        margin: 0;
        padding: 10px 3px;
        background: transparent;
        cursor: pointer;

        &:first-of-type {
            padding-left: 10px;
        }

        &:last-of-type {
            padding-right: 10px;
        }

        @media (hover: hover) and (min-width: 850px) {
            &:hover {
                &::after {
                    background: rgba(0, 0, 0, 0.8);
                }
            }
        }

        &::after {
            content: "";
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background-color: rgba(136, 138, 144, 0.6);
            transition: background-color 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);

            @media (max-width: 850px) {
                background: rgba(136, 138, 144, 0.6);
            }
        }

        &[data-current="true"] {
            &::after {
                background: rgba(0, 0, 0, 0.8);

                @media (max-width: 850px) {
                    background: rgba(255, 255, 255, 0.8);
                }
            }
        }
    }
}