.project-thumbnail {
  .html-thumbnail-container {
    svg[data-name="SantiagoTransitMapS3Variant"] {
      width: 100%;
      height: auto;
      @at-root [data-portrait="true"]#{&} {
        @media (max-width: 480px) {
          height: 100%;
          width: auto;
          position: relative;
          right: 158px;
        }
      }
    }
  }
}
