@import url("https://use.typekit.net/dyb5arw.css");

header {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 32px 0;
  box-sizing: border-box;
  .kiosk-logo {
    font: normal 900 26px/26px urw-din, sans-serif;
    color: rgba(224, 32, 32, 1);
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
}
