@mixin transitionDelaysMobileNav {
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      transition-delay: #{0.4 + ($i * 0.07)}s;
    }
  }
}

@mixin transitionDelays {
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      transition-delay: #{$i * 0.07}s;
    }
  }
}

@mixin transitionDelaysBackwards {
  @for $i from 20 through 1 {
    &:nth-last-child(#{$i}) {
      transition-delay: #{$i * 0.07}s;
    }
  }
}

.global-header {
  position: relative;
  width: 100%;
  margin: 0 0 calc(var(--global-padding) * 2);
  padding: 0;
  z-index: 100;
  background: var(--background-color, rgba(255, 255, 255, 1));
  &[data-sticky="true"] {
    position: sticky;
    top: 0px;
  }
  &:before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--background-color, rgba(255, 255, 255, 1));
    transition: border-bottom 0.4s ease, transform 0.4s ease, background-color 0.4s ease;
    border-bottom: 1px solid rgba(231, 232, 233, 0);
    @at-root [data-show-border="true"]#{&} {
      background: rgba(255, 255, 255, 1);
      border-bottom: 1px solid rgba(231, 232, 233, 1);
    }
    @at-root [data-nav-open="true"]#{&} {
      background: rgba(255, 255, 255, 1);
    }
  }
  .translucent-overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: opacity 1s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
    pointer-events: none;
    @at-root [data-search-open="true"]#{&} {
      opacity: 1;
      pointer-events: all;
    }
  }
  .header-content {
    margin: 0 auto;
    width: 100%;
    max-width: calc(1440px + calc(var(--global-padding) * 4));
    padding: calc(var(--global-padding) * 1.5) calc(var(--global-padding) * 2);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 40px;
    align-items: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    .nav-item {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      transition: color 0.4s cubic-bezier(0.2, 0.9, 0.42, 1);
      padding: 16px;
      margin: -16px;
      &.active {
        color: rgba(136, 138, 144, 1);
      }
    }
    .top-bar {
      position: relative;
      h1 {
        font-size: inherit;
        font-weight: 600;
        margin: 0;
        color: rgba(0, 0, 0, 1);
        transition: opacity 1s cubic-bezier(0.86, 0, 0.07, 1);
        a.active {
          color: rgba(0, 0, 0, 1);
        }
        @at-root [data-search-open="true"]#{&} {
          opacity: 0;
        }
      }
    }
    nav {
      display: inherit;
      grid-auto-flow: column;
      grid-gap: inherit;
      align-items: inherit;
      margin: 0;
      padding: 0;
      ul {
        display: inherit;
        grid-auto-flow: inherit;
        grid-gap: inherit;
        align-items: inherit;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), opacity 1s cubic-bezier(0.86, 0, 0.07, 1), color 1s cubic-bezier(0.86, 0, 0.07, 1);
          transform: translateX(0);
          @include transitionDelaysBackwards;
          @at-root [data-search-open="true"]#{&} {
            transform: translateX(-200px);
            opacity: 0;
            @include transitionDelays;
            pointer-events: none;
          }
          @media (hover: hover) {
            .nav-item:hover,
            &.nav-item:hover {
              color: rgba(136, 138, 144, 1);
            }
          }
        }
      }
    }
  }
  @media (max-width: 850px) {
    --header-height: 64px;
    margin: 0 0 var(--global-padding);
    background: transparent;
    .translucent-overlay {
      transition: opacity 0.4s ease 0s;
      background: rgba(249, 248, 248, 1);
    }
    &:before {
      @at-root [data-search-open="true"]#{&} {
        transform: translateY(
          calc((var(--header-height) * -1) + (var(--global-padding) / 2))
        );
      }
    }
    .header-content {
      padding: 0 calc(var(--global-padding) / 2);
      grid-template-columns: 100%;
      grid-auto-flow: row;
      grid-gap: 0;
      text-align: center;
      background: inherit;
      overflow: visible;
      .top-bar {
        height: var(--header-height);
        display: grid;
        align-items: center;
        z-index: 3;
        background: inherit;
        transition: transform 0.4s ease;
        @at-root [data-search-open="true"]#{&} {
          transform: translateY(
            calc((var(--header-height) * -1) + (var(--global-padding) / 2))
          );
        }
        h1 {
          position: relative;
          top: -0.08em;
          @at-root [data-search-open="true"]#{&} {
            opacity: 1;
          }
        }
      }
      nav {
        position: fixed;
        top: var(--header-height);
        right: 0;
        bottom: 0;
        left: 0;
        align-items: flex-start;
        z-index: 2;
        pointer-events: none;
        background-color: rgba(255, 255, 255, 0);
        transform: translateY(-100%);
        transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s,
          background-color 0s ease 2s;
        ul {
          grid-auto-flow: row;
          text-align: left;
          padding: var(--global-padding);
          box-sizing: border-box;
          grid-gap: 16px;
          transition-delay: 3s;
          li {
            padding-bottom: 16px;
            box-sizing: border-box;
            opacity: 0;
            transform: translateY(40px);
            transition: border-bottom 0.8s cubic-bezier(0.28, 0.11, 0.32, 1), opacity 0.8s cubic-bezier(0.28, 0.11, 0.32, 1), transform 0.8s cubic-bezier(0.28, 0.11, 0.32, 1);
            @include transitionDelaysBackwards;
            &:not(:nth-last-child(2)) {
              border-bottom: 1px solid rgba(136, 139, 144, 0.2);
            }
            &.search-button {
              display: none;
            }
            .nav-item {
              display: block;
              margin: -16px -20px;
              padding: 16px 20px;
              box-sizing: border-box;
            }
          }
        }
        &[data-open="true"] {
          pointer-events: all;
          background-color: rgba(255, 255, 255, 1);
          transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s,
            background-color 0s ease 0s;
          transform: translateY(0);
          ul {
            li {
              opacity: 1;
              transform: translateY(0px);
              @include transitionDelaysMobileNav;
            }
          }
        }
      }
    }
  }
}

.sopaipilla-menu {
  --sopaipilla-size: 38px;
  z-index: 3;
  display: none;
  width: var(--sopaipilla-size);
  height: var(--sopaipilla-size);
  position: absolute;
  left: 0;
  @media (max-width: 850px) {
    display: block;
  }
  .toggle {
    text-decoration: none;
    color: unset;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    -webkit-appearance: none;
    background: transparent;
    outline: none;
    border: none;
    user-select: none;
  }
  .sopaipilla {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: var(--sopaipilla-size);
    height: var(--sopaipilla-size);
    transform: none;
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &.top,
    &.bottom {
      .inner-sopaipilla {
        display: block;
        width: calc(var(--sopaipilla-size) / 2);
        height: 2px;
        background: #000;
        border-radius: 2px;
        position: absolute;
        left: calc(var(--sopaipilla-size) / 4);
        z-index: 1;
        transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
      }
    }
    &.top {
      @at-root [data-open="true"]#{&} {
        transform: rotate(45deg);
        transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
      }
      .inner-sopaipilla {
        top: calc((var(--sopaipilla-size) / 2) - 1px);
        transform: translateY(calc((var(--sopaipilla-size) * 0.1) * -1));
        @at-root [data-open="true"]#{&} {
          transform: translateY(0);
          transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
      }
    }
    &.bottom {
      @at-root [data-open="true"]#{&} {
        transform: rotate(-45deg);
        transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
      }
      .inner-sopaipilla {
        bottom: calc((var(--sopaipilla-size) / 2) - 1px);
        transform: translateY(calc(var(--sopaipilla-size) * 0.1));
        @at-root [data-open="true"]#{&} {
          transform: translateY(0);
          transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
      }
    }
  }
}

.search-box-container {
  --search-bar-border-radius: 5px;
  --search-bar-height: 40px;
  --search-bar-background-color: rgba(243, 242, 244, 1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
  &[data-open="true"] {
    opacity: 1;
    pointer-events: all;
  }
  .search-container {
    position: relative;
    transform: translateX(200px);
    transition: opacity 1s cubic-bezier(0.86, 0, 0.07, 1) 0.2s, transform 1s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
    display: flex;
    flex-flow: row;
    @at-root [data-open="true"]#{&} {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
    .search-icon {
      flex-shrink: 0;
      width: auto;
      height: var(--search-bar-height);
      background: var(--search-bar-background-color);
      border-radius: var(--search-bar-border-radius) 0 0 var(--search-bar-border-radius);
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 8px;
      box-sizing: border-box;
      svg {
        width: auto;
        height: 1em;
        flex-shrink: 0;
        fill: rgba(0,0,0,0.5);
      }
    }
    .search-field {
      -webkit-appearance: none;
      border: none;
      outline: none;
      width: 320px;
      height: var(--search-bar-height);
      background: var(--search-bar-background-color);
      border-radius: 0 var(--search-bar-border-radius) var(--search-bar-border-radius) 0;
      margin: 0;
      padding: 8px 10px 8px 8px;
      box-sizing: border-box;
      font-size: 18px;
      color: rgba(0,0,0,1);
      &::placeholder {
        color: rgba(0,0,0,0.5);
      }
      &::-webkit-search-decoration {
        -webkit-appearance: none;
      }
    }
    .cancel-button-container {
      display: none;
    }
  }
  .search-results {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: calc(100% - (var(--global-padding) / 2));
    right: 0;
    left: 0;
    max-width: 400px;
    ul {
      background: var(--background-color, rgba(255, 255, 255, 1));
      margin: 0;
      padding: 0;
      list-style: none;
      border-radius: calc(var(--search-bar-border-radius) + 2px);
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1),
        inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
      max-height: 60vh;
      overflow: auto;
      li {
        -webkit-appearance: none;
        padding: 10px;
        &:not(:last-child) {
          border-bottom: 1px solid rgba(136, 139, 144, 0.2);
        }
        .project-thumbnail {
          display: grid;
          grid-template-columns: 60px 1fr;
          grid-gap: 10px;
          .project-access {
            top: -10px;
            right: -10px;
            bottom: -10px;
            left: -10px;
          }
          .project-artwork {
            height: fit-content;
            &:after {
              opacity: 1;
            }
          }
          .project-info {
            padding: 0;
            margin: auto 0;
            flex-flow: column;
            .title {
              font-size: 16px;
            }
            .date {
              font-size: 16px;
            }
          }
          &:after {
            bottom: -4px;
            z-index: -1;
          }
        }
        @media (hover: hover) {
          &:hover {
            .project-thumbnail {
              &:after {
                opacity: 1;
              }
              .project-info {
                opacity: 1;
              }
              .project-artwork {
                transform: none;
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 850px) {
    position: relative;
    opacity: 1;
    width: auto;
    pointer-events: all;
    margin: 0 calc((var(--global-padding) / 2) * -1);
    padding: 0 0 calc(var(--global-padding) / 2) 0;
    text-align: left;
    transition: transform 0.4s ease;
    @at-root [data-open="true"]#{&} {
      transform: translateY(
        calc((var(--header-height) * -1) + (var(--global-padding) / 2))
      );
    }
    .search-container {
      width: 100%;
      transform: none;
      overflow: hidden;
      padding: 0 calc((var(--global-padding) / 2));
      box-sizing: border-box;
      .search-field {
        width: inherit;
      }
      .cancel-button-container {
        height: var(--search-bar-height);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: transform 0.4s ease, opacity 0.4s ease;
        transform: translateX(100%);
        @at-root [data-open="true"]#{&} {
          transform: translateX(0);
          &:active {
            opacity: 0.4;
          }
        }
        .search-field-placeholder {
          position: absolute;
          display: block;
          width: 100%;
          right: calc((var(--search-bar-border-radius) * 4) * -1);
          width: calc(100% + (var(--search-bar-border-radius) * 4));
          height: 100%;
          background-color: var(--search-bar-background-color);
          transition: background-color 0s ease 0s;
          transform: translateX(-100%);
          border-radius: var(--search-bar-border-radius);
          cursor: text;
          pointer-events: all;
          @at-root [data-open="true"]#{&} {
            background-color: transparent;
            pointer-events: none;
            transition: background-color 0s ease 0.4s;
          }
        }
        .cancel-button {
          -webkit-appearance: none;
          border: none;
          outline: none;
          background: none;
          box-shadow: none;
          margin: 0;
          cursor: pointer;
          padding-right: calc(var(--global-padding) / 2);
          padding-left: var(--global-padding);
          box-sizing: border-box;
          font-size: 18px;
          color: rgba(16, 99, 238, 1);
        }
      }
    }
    .search-results {
      top: 100%;
      right: 0;
      left: 0;
      max-width: none;
      ul {
        box-shadow: none;
        background: var(--background-color, rgba(255, 255, 255, 1));
        border-radius: 0;
        li {
          padding-top: 8px;
          padding-bottom: 8px;
          position: relative;
          &:not(:last-child) {
            border-bottom: none;
          }
          &:after {
            content: "";
            position: absolute;
            right: calc(var(--global-padding) / 2);
            bottom: 0;
            left: calc(60px + var(--global-padding));
            height: 1px;
            background: rgba(136, 139, 144, 0.2);
          }
          &:last-child {
            &:after {
              right: 0;
              left: 0;
            }
          }
          .project-thumbnail {
            .project-info {
              .title,
              .date {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
