.global-header {
  width: 100%;
  margin: calc(var(--global-padding) * 2) auto;
  padding: 0;
  position: sticky;
  top: 0px;
  z-index: 100;
  background: rgba(255, 255, 255, 1);
  .header-content-container {
    margin: 0 auto;
    max-width: calc(1440px + calc(var(--global-padding) * 2));
    .header-content {
      width: fit-content;
      padding: calc(var(--global-padding) * 1.5) var(--global-padding);
      box-sizing: border-box;
      display: grid;
      grid-auto-flow: column;
      grid-gap: 40px;
      align-items: center;
      font-size: 18px;
      color: rgba(136, 138, 144, 1);
      a {
        text-decoration: none;
        color: inherit;
        transition: color 0.4s cubic-bezier(0.2,0.9,0.42,1);
        &.active,
        &:hover {
          color: rgba(0,0,0,1);
        }
      }
      h1 {
        font-size: inherit;
        font-weight: 600;
        margin: 0;
        color: rgba(0,0,0,1);
      }
      nav {
        display: inherit;
        grid-auto-flow: inherit;
        grid-gap: inherit;
        align-items: inherit;
        margin: 0;
        padding: 0;
        ul {
          display: inherit;
          grid-auto-flow: inherit;
          grid-gap: inherit;
          align-items: inherit;
          list-style: none;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
