.feeds_container {
    overflow: hidden;
    width: 100%;
    position: relative;

    &::-webkit-scrollbar {
        display: none;
    }

    .feeds {
        --ghost-padding: 40px;
        width: 100vw;
        height: calc(var(--ghost-padding) + var(--current-feed-height));
        transition: height 0.8s cubic-bezier(0.28, 0.11, 0.32, 1);
        display: flex;
        flex-direction: row;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-bottom: calc(var(--ghost-padding) * -1);
        scroll-behavior: smooth;
        scroll-padding: 0;

        &::-webkit-scrollbar {
            display: none;
        }

        >.feed {
            width: 100vw;
            height: fit-content;
            flex: 0 0 100vw;
            scroll-snap-align: center;
            scroll-snap-stop: always;
            margin: 0;
            padding: 0;
        }
    }
}