.tabs {
    --tab-vertical-padding: 20px;
    display: flex;
    width: 100%;
    flex-flow: row;
    position: sticky;
    top: calc(var(--header-height, 0) - 2px);
    background: rgba(255, 255, 255, 1);
    z-index: 100;
    animation: tabsFadeIn 1s cubic-bezier(0.28, 0.11, 0.32, 1) 1.2s;
    animation-fill-mode: backwards;
    max-width: 100vw;
    overflow-y: visible;
    overflow-x: scroll;

    &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(231, 232, 233, 0);
        transition: background-color 0.2s ease;

        @at-root [data-show-border="true"]#{&} {
            background-color: rgba(231, 232, 233, 1);
        }
    }

    >.current_tab_indicator {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: rgb(0, 0, 0);
        border-radius: 2px;
        transform: translateX(var(--leading-offset, 0));
        width: var(--width, 0);
        z-index: 1;
    }

    .tab {
        position: relative;

        &:first-of-type {
            margin-left: auto;
        }

        &:last-of-type {
            margin-right: auto;
        }

        >input {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            border: none;
            opacity: 0;
            pointer-events: none;
        }

        >label {
            display: block;
            padding: var(--tab-vertical-padding) 20px;
            cursor: pointer;
            font-size: 15px;
            font-weight: 460;
            color: rgb(136, 139, 144);
            transition: color 0.2s cubic-bezier(0.28, 0.11, 0.32, 1);
            width: max-content;
        }

        >input:checked+label {
            color: rgb(0, 0, 0);
        }
    }
}

.feeds_container {
    overflow: hidden;

    .feeds {
        --ghost-padding: 40px; // We use this to hide the h-scrollbar in Safari :P
        width: 100vw;
        height: calc(var(--ghost-padding) + var(--current-feed-height));
        transition: height 0.8s cubic-bezier(0.28, 0.11, 0.32, 1);
        display: flex;
        flex-direction: row;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-bottom: calc(var(--ghost-padding) * -1);

        >.feed {
            width: 100vw;
            height: fit-content;
            flex-shrink: 0;
            scroll-snap-align: start;
            scroll-snap-stop: always;
            margin: 0;
            padding: 0;
        }
    }
}

@keyframes tabsFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}