.see-all-thumbnail {
  --radius: 8px;
  
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(239, 239, 244, 0.4);
  padding-top: calc(100% * calc(3 / 4));
  border-radius: var(--radius);
  -webkit-mask-box-image: url('data:image/svg+xml;utf8,<svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 25.6C0 16.6392 0 12.1587 1.7439 8.73615C3.27787 5.72556 5.72556 3.27787 8.73615 1.7439C12.1587 0 16.6392 0 25.6 0H74.4C83.3608 0 87.8413 0 91.2638 1.7439C94.2744 3.27787 96.7221 5.72556 98.2561 8.73615C100 12.1587 100 16.6392 100 25.6V74.4C100 83.3608 100 87.8413 98.2561 91.2638C96.7221 94.2744 94.2744 96.7221 91.2638 98.2561C87.8413 100 83.3608 100 74.4 100H25.6C16.6392 100 12.1587 100 8.73615 98.2561C5.72556 96.7221 3.27787 94.2744 1.7439 91.2638C0 87.8413 0 83.3608 0 74.4V25.6Z" fill="black"/></svg>') 16 / var(--radius) / 0px;
  transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  backface-visibility: hidden;
  will-change: transform;
  height: fit-content;
  user-select: none;
  @at-root :active#{&} {
    transform: translateY(6px) scale(0.96);
    opacity: 0.9;
  }
  .button-access {
    text-decoration: none;
    color: unset;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-appearance: none;
    background: transparent;
    outline: none;
    border: none;
    user-select: none;
  }
  .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    will-change: transform;
    .cards-stack {
      text-align: center;
      position: relative;
      transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), filter 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      filter: drop-shadow(0px 2px 20px rgba(16, 99, 238, 0.25));
      @media (hover: hover) {
        @at-root :hover#{&} {
          filter: drop-shadow(0px 2px 20px rgba(16, 99, 238, 0.45));
          transform: scale(1.05);
        }
      }
      @at-root :active#{&} {
        filter: drop-shadow(0px 2px 20px rgba(16, 99, 238, 0.45));
        transform: scale(1);
      }
      .card {
        --size: 90px;
        --radius: 0px;

        @media (max-width: 850px) {
          --size: 76px;
        }
        display: block;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        will-change: transform;
        transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        user-select: none;
        -webkit-mask-box-image: url('data:image/svg+xml;utf8,<svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 25.6C0 16.6392 0 12.1587 1.7439 8.73615C3.27787 5.72556 5.72556 3.27787 8.73615 1.7439C12.1587 0 16.6392 0 25.6 0H74.4C83.3608 0 87.8413 0 91.2638 1.7439C94.2744 3.27787 96.7221 5.72556 98.2561 8.73615C100 12.1587 100 16.6392 100 25.6V74.4C100 83.3608 100 87.8413 98.2561 91.2638C96.7221 94.2744 94.2744 96.7221 91.2638 98.2561C87.8413 100 83.3608 100 74.4 100H25.6C16.6392 100 12.1587 100 8.73615 98.2561C5.72556 96.7221 3.27787 94.2744 1.7439 91.2638C0 87.8413 0 83.3608 0 74.4V25.6Z" fill="black"/></svg>') 16 / var(--radius) / 0px;

        &:nth-child(3) {
          --radius: 12px;
          border-radius: var(--radius);
          width: var(--size);
          height: var(--size);
          background: rgba(16, 99, 238, 1);
          position: relative;
          z-index: 3;
          display: flex;
          justify-content: center;
          align-items: center;
          .remaining-count {
            position: relative;
            top: -3px;
            font-size: 50px;
            line-height: 50px;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            user-select: none;
            backface-visibility: hidden;
            @media (max-width: 850px) {
              font-size: 40px;
            }
          }
        }
        &:nth-child(2) {
          --radius: 10px;
          border-radius: var(--radius);
          width: calc(var(--size) - 16px);
          height: calc(var(--size) - 16px);
          background: rgba(104, 155, 240, 1);
          position: absolute;
          top: -4px;
          right: 0;
          left: 0;
          z-index: 2;
          @media (hover: hover) {
            @at-root :hover#{&} {
              transform: translateY(-2px);
            }
          }
          @at-root :active#{&} {
            transform: translateY(1px);
          }
        }
        &:nth-child(1) {
          --radius: 8px;
          border-radius: var(--radius);
          width: calc(var(--size) - 16px - 14px);
          height: calc(var(--size) - 16px - 14px);
          background: rgba(147, 183, 242, 1);
          position: absolute;
          top: -8px;
          right: 0;
          left: 0;
          z-index: 1;
          @media (hover: hover) {
            @at-root :hover#{&} {
              transform: translateY(-4px);
            }
          }
          @at-root :active#{&} {
            transform: translateY(2px);
          }
        }
      }
    }
    .text {
      text-align: center;
      margin-top: 28px;
      transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      @media (hover: hover) {
        @at-root :hover#{&} {
          opacity: 0.6;
        }
      }
      @at-root :active#{&} {
        opacity: 0.6;
      }
      .title,
      .subtitle {
        font-size: 18px;
        margin: 0;
        padding: 0;
        user-select: none;
        @media (max-width: 850px) {
          font-size: 16px;
        }
      }
      .title {
        font-weight: 600;
        color: rgba(0, 0, 0, 1);
      }
      .subtitle {
        font-weight: 400;
        color: rgba(136, 139, 144, 1);
      }
    }
  }
}
