.global_footer {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 40px 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: rgba(136, 139, 144, 1);
    text-align: center;
    animation: dissolveIn 1s cubic-bezier(0.28, 0.11, 0.32, 1);
    animation-fill-mode: backwards;
    animation-delay: 1s;

    @media (max-width: 850px) {
        padding: 0 20px 20px;
    }

    .portfolio_statement {
        padding: 160px 20px;
        width: fit-content;
        text-align: center;
        display: block;
        width: 100%;

        a {
            transition: color 0.4s cubic-bezier(0.2, 0.9, 0.42, 1);
            color: rgba(0, 0, 0, 1);

            @media (hover: hover) {
                &:hover {
                    color: rgba(136, 139, 144, 1);
                }
            }
        }
    }

    .boring_stuff {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        @at-root [data-statement="false"]#{&} {
            margin-top: 120px;
        }

        * {
            margin: 0;
        }

        .copyright_thingy {
            p {
                display: inline-block;

                &:not(:first-child) {
                    margin-left: 0.5ch;
                }

                @media (max-width: 850px) {
                    display: block;

                    &:not(:first-child) {
                        margin-left: 0;
                    }
                }
            }
        }

        .socials {
            text-align: right;

            @media (max-width: 850px) {
                display: flex;
                flex-flow: column;
            }

            .social_link {
                transition: color 0.4s cubic-bezier(0.2, 0.9, 0.42, 1);

                &:not(:first-child) {
                    margin-left: 20px;
                }

                @media (hover: hover) {
                    &:hover {
                        color: rgba(0, 0, 0, 1);
                    }
                }
            }
        }
    }
}

@keyframes dissolveIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}