.project-page-fallback {
  margin: 0 auto;
  padding: var(--global-padding);
  box-sizing: border-box;
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: calc(var(--global-padding) * 2);
  @media (max-width: 1080px) {
    grid-gap: var(--global-padding);
  }
  @media (max-width: 850px) {
    padding: var(--global-padding) calc(var(--global-padding) / 2);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
  .project-gallery {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid rgba(231, 232, 233, 0);
    .project-thumbnail:not(:last-of-type) {
      margin-bottom: var(--global-padding);
    }
    @media (max-width: 850px) {
      &[data-show-border="true"] {
        border-bottom: 1px solid rgba(231, 232, 233, 1);
      }
      position: sticky;
      top: 0;
      flex-flow: row;
      overflow: auto;
      margin: calc((var(--global-padding) / 2) * -1);
      padding: calc(var(--global-padding) / 2);
      box-sizing: border-box;
      background: white;
      scroll-snap-type: x mandatory;
      &:after {
        content: "";
        flex-shrink: 0;
        display: block;
        width: calc(var(--global-padding) / 2);
      }
      .project-thumbnail {
        scroll-snap-align: center;
        width: 96%;
        margin-right: 4px;
        flex-shrink: 0;
        &:not(:last-of-type) {
          margin-bottom: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }
        &:only-of-type {
          width: 100%;
        }
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .project-info {
    position: sticky;
    top: calc(var(--global-padding) * 2);
    @media (max-width: 1080px) {
      top: var(--global-padding);
    }
    display: grid;
    grid-auto-flow: row;
    grid-gap: 60px;
    height: fit-content;
    padding: 0 calc(var(--global-padding) / 2);
    box-sizing: border-box;
    @media (max-width: 850px) {
      & {
        position: initial;
      }
    }
    .main {
      display: grid;
      grid-auto-flow: row;
      grid-gap: calc(var(--global-padding) * 2);
      height: fit-content;
      .title,
      .description {
        margin: 0;
        padding: 0;
      }
      .title {
        font-size: 36px;
        font-weight: 600;
        letter-spacing: -0.03em;
        line-height: 1.2em;
      }
      .description {
        font-size: 18px;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
        p {
          margin: 0;
          padding: 0;
          font: inherit;
          &:not(:first-child) {
            margin-top: 1em;
          }
        }
      }
      .ctas {
        .call-to-action {
          display: block;
          font-size: 18px;
          font-weight: 400;
          text-decoration: underline;
          color: rgba(16, 99, 238, 1);
          width: fit-content;
          transition: color 0.4s cubic-bezier(0.2, 0.9, 0.42, 1);
          .right-arrow {
            display: inline-block;
            margin-left: 0.2em;
            transition: transform 0.4s cubic-bezier(0.2, 0.9, 0.42, 1);
            color: rgba(16, 99, 238, 1);
          }
          @media (hover: hover) {
            &:hover {
              color: rgba(0, 0, 0, 1);
              .right-arrow {
                transform: translateX(10px);
              }
            }
          }
        }
      }
    }
    .credits {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
      @media (max-width: 1080px) {
        grid-template-columns: 1fr;
        grid-gap: var(--global-padding);
      }
      .item {
        h3,
        p {
          font-size: 18px;
          font-weight: 400;
          margin: 0;
          padding: 0;
        }
        h3 {
          color: rgba(136, 138, 144, 1);
        }
      }
    }
  }
}
