@import url("https://use.typekit.net/lwt4lpj.css");

html {
  margin: 0;
  padding: 0;
  font-family: acumin-pro, -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  body {
    --global-padding: 20px;

    margin: 0;
    padding: 0 0 calc(var(--global-padding) * 2);
  }
}
