.generic-container {
  width: 100%;
  max-width: calc(1440px + calc(var(--global-padding) * 4));
  margin: 0 auto;
  padding: 0 calc(var(--global-padding) * 2) calc(var(--global-padding) * 2) calc(var(--global-padding) * 2);
  box-sizing: border-box;
  @media (max-width: 850px) {
    padding: var(--global-padding) calc(var(--global-padding) / 2);
  }
}