@mixin projectThumbnailFadeInDelays {
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.07}s;
    }
  }
}

.project-thumbnail {
  position: relative;
  display: block;
  margin: 0;
  transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform;
  &[data-fade-in="true"] {
    animation: fadeIn 0.4s cubic-bezier(0.28, 0.11, 0.32, 1);
    animation-fill-mode: backwards;
    @include projectThumbnailFadeInDelays;
  }
  .project-access {
    text-decoration: none;
    color: unset;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .project-artwork {
    --radius: 8px;

    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(239, 239, 244, 1);
    padding-top: calc(100% * calc(3 / 4));
    @at-root [data-portrait="true"]#{&} {
      @media (max-width: 480px) {
        padding-top: calc(100% * calc(4 / 3));
      }
    }
    border-radius: var(--radius);
    transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    will-change: transform;
    -webkit-mask-box-image: url('data:image/svg+xml;utf8,<svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 25.6C0 16.6392 0 12.1587 1.7439 8.73615C3.27787 5.72556 5.72556 3.27787 8.73615 1.7439C12.1587 0 16.6392 0 25.6 0H74.4C83.3608 0 87.8413 0 91.2638 1.7439C94.2744 3.27787 96.7221 5.72556 98.2561 8.73615C100 12.1587 100 16.6392 100 25.6V74.4C100 83.3608 100 87.8413 98.2561 91.2638C96.7221 94.2744 94.2744 96.7221 91.2638 98.2561C87.8413 100 83.3608 100 74.4 100H25.6C16.6392 100 12.1587 100 8.73615 98.2561C5.72556 96.7221 3.27787 94.2744 1.7439 91.2638C0 87.8413 0 83.3608 0 74.4V25.6Z" fill="black"/></svg>') 16 / var(--radius) / 0px;

    > img,
    > video {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:after {
      content: "";
      border-radius: inherit;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
      transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      opacity: 0;
    }
    .html-thumbnail-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: inherit;
    }
  }
  .project-info {
    display: flex;
    flex-flow: column-reverse;
    padding: calc(var(--global-padding) / 1.4) 0 0;
    transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    @media (max-width: 1080px) {
      padding: calc(var(--global-padding) / 2) calc(var(--global-padding) / 2) 0;
    }
    .title,
    .date {
      margin: 0;
      padding: 0;
      line-height: 1.3;
    }
    .title {
      font-size: 18px;
      font-weight: 600;
      @media (max-width: 850px) {
        font-size: 16px;
      }
    }
    .date {
      font-size: 16px;
      font-weight: 400;
      color: rgba(136, 139, 144, 1);
      @media (max-width: 850px) {
        font-size: 14px;
      }
    }
  }
  &:after {
    --radius: 10px;

    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: calc((var(--global-padding) / 2) * -1.5);
    @at-root [data-img-only="true"]#{&} {
      bottom: -4px;
    }
    left: -4px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: var(--radius);
    -webkit-mask-box-image: url('data:image/svg+xml;utf8,<svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 25.6C0 16.6392 0 12.1587 1.7439 8.73615C3.27787 5.72556 5.72556 3.27787 8.73615 1.7439C12.1587 0 16.6392 0 25.6 0H74.4C83.3608 0 87.8413 0 91.2638 1.7439C94.2744 3.27787 96.7221 5.72556 98.2561 8.73615C100 12.1587 100 16.6392 100 25.6V74.4C100 83.3608 100 87.8413 98.2561 91.2638C96.7221 94.2744 94.2744 96.7221 91.2638 98.2561C87.8413 100 83.3608 100 74.4 100H25.6C16.6392 100 12.1587 100 8.73615 98.2561C5.72556 96.7221 3.27787 94.2744 1.7439 91.2638C0 87.8413 0 83.3608 0 74.4V25.6Z" fill="black"/></svg>') 16 / var(--radius) / 0px;
    transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
    pointer-events: none;
  }
  &[data-hover="true"] {
    @media (hover: hover) {
      &:hover {
        .project-artwork {
          transform: translateY(-4px);
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.09);
          &:after {
            opacity: 1;
          }
        }
        .project-info {
          opacity: 0.6;
        }
      }
    }
    &:active {
      transform: translateY(6px) scale(0.96);
      .project-artwork {
        transform: translateY(0);
        box-shadow: none;
        opacity: 0.6;
      }
      .project-info {
        opacity: 0.6;
      }
      &:after {
        opacity: 1;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
