.project-thumbnail {
  .project-artwork {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(239, 239, 244, 1);
    padding-top: calc(100% * calc(3 / 4));
    position: relative;
    > img,
    > video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      right: 0;
      min-width: 100%;
      min-height: 100%;
      max-width: 100%;
    }
  }
  .project-info {
    display: flex;
    flex-flow: column-reverse;
    margin-top: var(--global-padding);
    .title,
    .date {
      margin: 0;
      padding: 0;
    }
    .title {
      font-size: 20px;
      font-weight: 600;
    }
    .date {
      font-size: 16px;
      font-weight: 400;
      color: rgba(136, 139, 144, 1);
    }
  }
}
